html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Logs
        link(rel='stylesheet', href='/universal.css')
        link(rel='stylesheet', href='/tables.css')
        link(rel='stylesheet', href='/edits/style.css')
        script(src='/edits/script.js')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    body
        section#panel-main
            a(href=`${url}`) Back to menu
            div#panel
                h1.header Edit database

                br

                form#searchForm
                    input(type="text", id="authorName", placeholder="Message Author", value=author)

                    input(type="checkbox", id="useID", checked=useID)
                    label Use user ID:
                    br

                    label Originals since:
                    input(type="datetime-local", id="origindate1", value=originsince)
                    label Originals before:
                    input(type="datetime-local", id="origindate2", value=originbefore)

                    br

                    label Edits since:
                    input(type="datetime-local", id="editdate1", value=editsince)
                    label Edits before:
                    input(type="datetime-local", id="editdate2", value=editbefore)

                    br

                    input(type="text", id="origincontains", placeholder="Original Contains", value=origincontains)
                    input(type="text", id="editcontains", placeholder="Edit Contains", value=editcontains)

                    br

                    - const sortbyorigindate = "origindate";
                    - const sortbyeditdate = "editdate";
                    - const sortbyauthor = "author";
                    - const sortbyorigincontent = "origincontent"
                    - const sortbyeditcontent = "editcontent"

                    select#sortby(name = "Sort by")
                        if sortby == "none"
                            option(value="none", selected disabled hidden) None
                        else
                            option(value="none") None

                        if sortby == sortbyorigindate
                            option(value=sortbyorigindate, selected disabled hidden) Original Message Date
                        else
                            option(value=sortbyorigindate) Original Message Date

                        if sortby == sortbyeditdate
                            option(value=sortbyeditdate, selected disabled hidden) Edited Message Date
                        else
                            option(value=sortbyeditdate) Edited Message Date

                        if sortby == sortbyauthor
                            option(value=sortbyauthor, selected disabled hidden) Author
                        else
                            option(value=sortbyauthor) Author

                        if sortby == sortbyorigincontent
                            option(value=sortbyorigincontent, selected disabled hidden) Original Content
                        else
                            option(value=sortbyorigincontent) Original Content

                        if sortby == sortbyeditcontent
                            option(value=sortbyeditcontent, selected disabled hidden) Edited Content
                        else
                            option(value=sortbyeditcontent) Edited Content

                    select#sorttype(name = "Sort type", selected=sorttype)
                        if sorttype == "asc"
                            option(value="asc", selected disabled hidden) Ascending 
                            option(value="desc") Descending
                        else if sorttype = "desc"
                            option(value="asc") Ascending 
                            option(value="desc", selected disabled hidden) Descending
                        else 
                            option(value="asc") Ascending 
                            option(value="desc") Descending

                    br

                input(type="button", id="find", onclick="search()" value="Search")
                input(type="button", id="reset", onclick="reset()", value="Reset")

        if edits.length > 0
            p Edits found: #{edits.length}

            div#pages-main
                if page != 1
                    input(type="button", id="previous", onclick="changepage(-1)", value="<=")

                inline Page: #{page}
        
                if edits.length == 100
                    input(type="button", id="next", onclick="changepage(1)", value="=>")

            table#edge
                tr#header
                    td Message ID
                    td Author 
                    td Author ID 
                    td Date Of Message 
                    td Date Of Edit 
                    td Original Content
                    td Edited Content
                each edit in edits
                    tr.data
                        td= edit.MessageID
                        td= edit.Author
                        td= edit.AuthorID 
                        td= edit.DateOfOriginal
                        td= edit.DateOfEdit
                        td.content= edit.OriginalContent
                        td.content= edit.EditedContent
        else 
            p No edits found
            div#pages-main
                input(type="button", id="previous", onclick="changepage(-1)", value="<=")

                inline #{page}
