html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Logs
        link(rel='stylesheet', href='webpage/logstyle.css')
        script(src='webpage/logscript.js')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    body
        div#panel
            h1.header Log database

            br

            form#searchForm
                input(type="text", id="authorName", placeholder="Message Author", value=author)

                input(type="checkbox", id="useID", checked=useID)
                label Use user ID:
                br

                label Since:
                input(type="datetime-local", id="date1", value=since)
                label Before:
                input(type="datetime-local", id="date2", value=before)

                br

                input(type="text", id="contains", placeholder="Contains", value=contains)

                br

            input(type="button", id="find", onclick="log()" value="Search")

        if messages.length > 0
            p Logs found: #{messages.length}

            table#edge
                tr#header
                    td Message ID
                    td Author 
                    td Author ID 
                    td Date Of Message 
                    td Content
                each msg in messages 
                    tr.data
                        td= msg.MessageID
                        td= msg.Author
                        td= msg.AuthorID 
                        td= msg.DateOfMessage 
                        td.content= msg.Content
        else 
            p No Logs found
